#grid-floats .grid-item {
  color: blue;
  float:left;
  width: 23%;
  border:1px solid black;
  display: block;
  overflow: auto;
  margin: 5px;
  height: 250px;
  background: lightpink;
}
#grid-floats .grid-item:nth-child(1){
  width:47%;
}
h1{
  color: darkcyan;
  text-align: center;
  font-style: italic;
  font-size: 60px;

}
h2{
  display: block;
  clear: both;
  color: deeppink;
  font-style: oblique;
  font-size: 40px;

}

h3{
  color: green;
  font-size: 22px;
  font-style: italic;
}
img{
  width: 25%;
}

li{
  list-style: none;
}

 img{
   width: 25%;
}

#grid-flex .grid-item {
  color: brown;
  flex-direction: row;
  width: 23%;
  border:1px solid black;
  margin: 5px;
  height: 250px;
  overflow: auto;
  background: yellow;
}

#grid-flex{
  display:flex;
  flex-wrap:wrap;
}

#grid-flex .grid-item.drone1flex{
  width: 47%;
}

.drone1{
  width: 47%;
}
/* TABLET  FLOAT*/
@media (max-width:1024px){
  #grid-floats .grid-item{
   color: pink;
   width: 31%;
  }
  #grid-floats .grid-item:nth-child(1){
    width:47%;
  }
  #grid-floats .grid-item:nth-child(2){
    width:47%;
  }
}

/*MOBILE FLOAT  */
@media (max-width:768px){
#grid-floats .grid-item {
   color: red;
   width: 45%;
 }
 #grid-floats .grid-item:nth-child(1){
   width:94%;
 }
}

/*TABLET FLEX  */
 @media (max-width:1024px){
 #grid-flex .grid-item{
   color: orange;
   width: 31%;
 }
 #grid-flex .grid-item:nth-child(1){
   width:47%;
 }
 #grid-flex .grid-item:nth-child(2){
   width:47%;
 }
}

/*MOBILE FLEX  */
@media (max-width:768px){
#grid-flex .grid-item {
   color: red;
   width: 45%;
 }
 #grid-flex .grid-item.drone1flex{
   width: 94%;
 }
}
